table {
            width: 100%;
            border-collapse: collapse;
        }
        
        th {
            background: #a52a2a;
            color: white;
            padding: 10px;
        }
        
        td {
            padding: 10px;
            border: 1px solid #ccc;
        }
        
        /* Нечетные строки */
        tr:nth-child(odd) {
            background: #fffff0;
        }
        
        /* Четные строки */
        tr:nth-child(even) {
            background: #fff8dc;
        }
        
        img {
            width: 50px;
            height: 50px;
        }